div.container-fluid row d-flex{
  align-items: center;
}
h2{
  text-align: center;
}
label{
  text-size:10px;
  margin-left: 20%;
  font-weight: bold;
}
input{
  border:0.5px solid grey;
  border-radius: 2px;
  height: 40px;
  width:60%;
  margin-left: 20%;
  padding-left: 10px;
  margin-top: 15px;

}
select{
  border:0.5px solid grey;
  border-radius: 2px;
  height: 40px;
  width:60%;
  margin-left: 20%;
  margin-top: 15px;
}
option{
  color:grey;
}
button{
  color:white;
  background-color: blue;
  height: 35px;
  width: 200px;
  margin-left: 25%;
  text-align: center;
  margin-left: 40%;
  margin-bottom: 20px;
}